<div class="text-center py-5">
  <div class="container">
    <div class="row justify-content-center mt-5 pt-5">
      <div class="col-md-9">
        <h1>BTS</h1>
        <p class="lead text-muted"> asldkfjas;d</p>
        <a href="#" class="btn btn-primary m-2">Main call to action</a>
        <a href="#" class="btn btn-secondary m-2">Secondary action</a>
      </div>
    </div>
  </div>
</div>
<div class="py-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-3" *ngFor="let film of films.film" (click)="openModal(film)">
        <div class="card box-shadow">
          <img src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" class="w-100">
          <div class="card-body">
            <p class="card-text text-center">{{film.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>