<div class="text-center py-5">
  <div class="container">
    <div class="row justify-content-center mt-5 pt-5">
      <div class="col-md-9">
        <h1>BTS</h1>
        <p class="lead text-muted"> asldkfjas;d</p>
        <a href="#" class="btn btn-primary m-2">Main call to action</a>
        <a href="#" class="btn btn-secondary m-2">Secondary action</a>
      </div>
    </div>
  </div>
</div>
<div class="py-4 bg-light">
  <div class="container">
    <div class="row">
      <!--<div class="col-12" (click)="openModal(film)" [hidden]="film.highlight == false">-->
        <!--<div class="card box-shadow d-poster">-->
          <!--<img src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" class="w-100">-->
          <!--<p class="card-text text-center card-img-overlay animated fadeIn">{{data.title}}</p>-->
        <!--</div>-->
      <!--</div>-->
        <div class="card box-shadow d-poster" *ngFor="let film of data?.results" (click)="openModal(film)" style="max-width: 200px; min-width: 200px">
          <img src="http://image.tmdb.org/t/p/w200/{{film?.poster_path}}" class="w-100">
          <div class="card-body">
            <p class="card-text text-center card-img-overlay animated fadeIn">{{film?.title}}</p>
          </div>
        </div>
    </div>
  </div>
</div>
